{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
  <!-- <div class=container> -->
    <div class=row>
      <div class="col-md-1 notmobile"></div>
      <div id=map_container_div class=col-md-10>
          <br>
          <h1>Welcome {{ session['saml_attributes']['firstName'][0] + ' ' + session['saml_attributes']['lastName'][0] }}</h1>
          <p class="lead">
            Below are posts for help or posts offering help from members of the MGH community:
          </p>
          <hr>
          {% include 'mapApp.html' %}
      </div>
      <div class="col-md-1 notmobile"></div>
    </div>
{% else %}
  <br><br><br>
  <div class=col-sm-3></div>
  <div class=col-sm-6>
    <div class="hero-unit">
      <h1>Mass General Brigham Community Help</h1>
      <hr>
      <h2>Purpose:</h2>
      <p class="greeting">Mass General Brigham Community Help was created to connect Mass General Brigham direct care providers with other employees who may be able to help them with unmet needs due to busy patient care and hospital operations schedules. Employees who may be working from home and/or have time due to workflow changes can volunteer to assist their colleagues with these personal needs. Mass General Brigham Community Help is only available to individuals within the Partners system. A Partners email address is required to set up an account.</p>  
      <h2>Community Standards</h2>
      <p class="greeting">All requests for services or offers to provide services should follow the same standards of professionalism and civility as we do in our workplace.</p>
      <p class="greeting">Mass General Brigham Community Help cannot be used:</p>
      <ol>
        <li class="greeting">To arrange child care. If you are in need of child care resources, click <a href="../static/New_Resources.pdf">here</a>.</li>
        <li class="greeting">To arrange for hospital shift coverage.</li>
      </ol>
      <p class="greeting">By setting up an account on Mass General Brigham Community Help you agree that:</p>
      <ol>
        <li class="greeting">Use of Mass General Brigham Community Help is voluntary.</li>
        <li class="greeting">Any information with a service requestor or service provider is completely voluntary and sharing of personal information (e.g., home address) should only be done after careful considerations of risks.</li>
        <li class="greeting">You have read the Community Standards and will adhere to the same standards on Mass General Brigham Community Help as in our workplace.</li>
      </ol>
      <h2>Disclaimer:</h2>
      <div class="alert alert-warning greeting" role="alert">
        <strong>To effectively match employee needs with offers of help, this tool requires the user to identify their location by including street of residence. It does not request you disclose your house or apartment number for privacy reasons. By establishing an account you are acknowledging your agreement to share your street location to other members of the Partners community using this tool.</strong>
      </div>
      <p class="greeting">Partners is making Mass General Brigham Community Help available to employees, but it is not actively moderating the tool and/or requests and responses posted. By choosing to use Mass General Brigham Community Help, you assume all risk and you are responsible for acting in accordance with the stated Purpose and Community Standards. Partners is not responsible for the conduct of individuals that choose to participate and receive and/or offer services through Mass General Brigham Community Help. That being said, if you post about inappropriate or illegal activity requests for services or otherwise communicate in a manner inconsistent with Partners and our organizations standards of professionalism and civility, you may be referred to Human Resources for appropriate action.</p>
      <hr>
      <p>
        {% for idp in idp_dict.keys() %}
        <a class="btn btn-primary btn-large" href="/saml/login/{{idp}}">Login</a>
        {% endfor %}  
      </p>
    </div>
  </div>
  <div class=col-sm-3></div>
  


{% endif %}
{% endblock %}
