{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
  <div class=container>
    <div class=row>
      <h1>Welcome {{ session.saml_attributes.FirstName[0] }}</h1>
      <p class="lead">
        Below are posts for help or posts offering help from members of the MGH community:
      </p>
      <hr>
    </div>
    <!-- <div class=row>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <table class="table">
        {% if session.saml_attributes %}
          {% for attribute in session.saml_attributes.keys() %}
          <tr>
            <td>{{ attribute }}</td>
            <td>{{ session.saml_attributes[attribute][0] }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>Email</td>
            <td>{{ session.user }}</td>
          </tr>
        {% endif %}
        </table>
      </div>
      <div class="col-md-2"></div>
    </div> -->
  </div>
  {% include 'mapApp.html' %}
{% else %}
  <!-- <p class="lead">Select the IdP you want to use to authenticate:</p>
  <ol>
    {% for idp in idp_dict.keys() %}
    <li><a href="/saml/login/{{idp}}">{{idp}}</a></li>
    {% endfor %}
  </ol> -->

  <br><br><br>
  <div class=col-sm-3></div>
  <div class=col-sm-6>
    <div class="hero-unit">
      <h1>MGH Community Help</h1>
      <hr>
      <h2>Purpose:</h2>
      <p class="greeting">Partners MGH Community Help was created to connect MGH direct care providers with other employees who may be able to help them with unmet needs due to busy patient care and hospital operations schedules. Employees who may be working from home and/or have time due to workflow changes can volunteer to assist their colleagues with these personal needs. MGH Community Help is only available to individuals within the Partners system. A Partners/MGH email address is required to set up an account.</p>  
      <h2>Community Standards</h2>
      <p class="greeting">All requests for services or offers to provide services should follow the same standards of professionalism and civility as we do in our workplace.</p>
      <p class="greeting">Partners MGH Community Help cannot be used:</p>
      <ol>
        <li>To arrange child care. If you are in need of child care resources, click <a href="../static/New_Resources.pdf">here</a>.</li>
        <li>To arrange for hospital shift coverage.</li>
      </ol>
      <p class="greeting">By setting up an account on MGH Community Help you agree that:</p>
      <ol>
        <li>Use of MGH Community Help is voluntary.</li>
        <li>Any information with a service requestor or service provider is completely voluntary and sharing of personal information (e.g., home address) should only be done after careful considerations of risks.</li>
        <li>You have read the Community Standards and will adhere to the same standards on Lend a Hand as in our workplace.</li>
      </ol>
      <h2>Disclaimer:</h2>
      <p class="greeting">Partners is making MGH Community Help available to employees, but it is not actively moderating the tool and/or requests and responses posted. By choosing to use MGH Community Help, you assume all risk and you are responsible for acting in accordance with the stated Purpose and Community Standards. Partners is not responsible for the conduct of individuals that choose to participate and receive and/or offer services through MGH Community Help. That being said, if you post about inappropriate or illegal activity requests for services or otherwise communicate in a manner inconsistent with Partners and our organizations standards of professionalism and civility, you may be referred to Human Resources for appropriate action.</p>
      <hr>
      <p>
        {% for idp in idp_dict.keys() %}
        <a class="btn btn-primary btn-large" href="/saml/login/{{idp}}">Login</a>
        {% endfor %}  
      </p>
    </div>
  </div>
  <div class=col-sm-3></div>
  


{% endif %}
{% endblock %}
