{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
  <!-- <div class=container> -->
    <div class=row>
      <div class="col-md-1 notmobile"></div>
      <div id=map_container_div class=col-md-10>
          <br><br>
          <h1>Welcome {{ session['saml_attributes']['firstName'][0] + ' ' + session['saml_attributes']['lastName'][0] }}</h1>
          <p class="lead">
            Below are posts for help or posts offering help from members of the MGH community:
          </p>
          <hr>
          {% include 'mapApp.html' %}
      </div>
      <div class="col-md-1 notmobile"></div>
    </div>
{% else %}
  <br><br><br>
  <div class=col-sm-1></div>
  <div class=col-sm-10>
    <div class="hero-unit">
      <h1>Mass General Brigham Community Help</h1>
      <hr>
      <h2>Purpose:</h2>
      <p class="greeting">Mass General Brigham Community Help site helps connect colleagues during this extraordinary time. Whether you need assistance or are looking to help a colleague, please read on!</p>  
      <h2>Overview</h2>
      <p class="greeting">To get started, simply click the Login button below. You will automatically be logged in via single sign on.</p>
      <p class="greeting"><strong>If you need help or would like to volunteer</strong>: Please review existing posts. If you find a match for a service you need or one that you would like to offer, please email that person directly.</p>
      <p class="greeting">If you do NOT see a post matching the help you need or are willing to provide, click the green "Post a New Request" for one of the following types of services:</p>
      <ol>
        <li class="greeting">Transportation</li>
        <li class="greeting">Shopping</li>
        <li class="greeting">In-House Help</li>
        <li class="greeting">Pet Sitting/Care</li>
      </ol>

      <p class=greeting>Please note: This site is not the place to request coverage of a hospital shift or to arrange for child care. If you need child care support, please click <a href="https://partnershealthcarehr.service-now.com/hrportal?id=ph_kb_article&sys_id=c113fa84db2bc0d02c243ebd7c961953&kb_category=2f1ef3a8dbd00340da8538ff9d96191d#child" target="_blank">here</a>.</p>

      <h2>Please Read</h2>
      <p class="greeting">Partners HealthCare is making this site available to employees, but it is not actively monitoring the requests and responses posted. By using this service, you assume all risk and responsibility. Partners is not responsible for the conduct of individuals that choose to participate and receive and/or offer services through Partners HealthCare Community Help. However, if you post inappropriate or illegal requests for services or otherwise communicate in a manner inconsistent with Partners and our organizations standards of professionalism and civility, you may be referred to Human Resources for appropriate action.</p>
      <h2>Disclaimer:</h2>
      <div class="alert alert-warning greeting" role="alert">
        <strong>To effectively match employee needs with offers of help, this tool requires the user to identify their location by including street of residence. It does not request you disclose your house or apartment number for privacy reasons. By establishing an account you are acknowledging your agreement to share your street location to other members of the Partners community using this tool.</strong>
      </div>
      <hr>
      <p>
        {% for idp in idp_dict.keys() %}
        <a class="btn btn-primary btn-large" href="/saml/login/{{idp}}">Login</a>
        {% endfor %}  
      </p>
    </div>
  </div>
  <div class=col-sm-1></div>
  


{% endif %}
{% endblock %}
