<div id=app class=container style="width: 100%">
    
    
    <div class="row"> 
        <div class="alert alert-success" role="alert">
            <strong>Please hit refresh to see your pin show up</strong>
        </div>
        <div class="alert alert-warning" role="alert">
            <strong>Please don't enter street number for your address. Street, City, Zip should be all you provide.</strong>
        </div>
        <div id="map" ref="mgh_map"></div>
    </div>

    <div class=row>
        <hr>
        <div>
            <button type="button" class="btn btn-success dropdown-item someFixedWidths" data-toggle="modal" data-target="#addPostModal">Post a New Request</button>
        
            <div style="width:82%" v-if="message.message_success" class="alert alert-success message" role="alert">
                {% raw %} {{ message.message_success }} {% endraw %}
            </div>
            <div style="width:82%" v-if="message.message_warning" class="alert alert-warning message" role="alert">
                {% raw %} {{ message.message_warning }} {% endraw %}
            </div>
            <div style="width:82%" v-if="message.message_danger" class="alert alert-danger message" role="alert">
                {% raw %} {{ message.message_danger }} {% endraw %}
            </div>
        </div>

        

        <hr>
        <br>    
        <label for="searchTable">Search Posts:</label>
        <input style="width:150px" id=searchTable class="form-control" type="text" v-model="searchQuery" placeholder="Search Posts"/>
        <br>
        <table id="table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <col width="150">
                <col width="100">
                <col width="100">
                <col width="200">
                <col width="150">
                <col width="400">
                <col width="100">
                <col width="100">
            <tr>
                <th @click="sort('date')" class="th-sm notmobile" style="inline-block">Date
                    <div class=inline> <!-- These are the arrows -->
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>
                <th @click="sort('name')" class="th-sm notmobile" style="inline-block">Name
                    <div class=inline> <!-- These are the arrows -->
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>
                <th @click="sort('partnersID')" class="th-sm headerSortUp notmobile">PartnersID
                    <div class=inline>
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>
                <th @click="sort('email')" class="th-sm headerSortUp">Email
                    <div class=inline>
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>  
                <th @click="sort('address')" class="th-sm">Address
                    <div class=inline>
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>
                <th @click="sort('post')" class="th-sm">Post
                    <div class=inline>
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>
                <th @click="sort('requestType')" class="th-sm notmobile">Request Type
                    <div class=inline>
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>
                <th @click="sort('helpType')" class="th-sm notmobile">Help Type
                    <div class=inline>
                        <div class="arrow-up"></div>
                        <div class=spacer></div>
                        <div class="arrow-down"></div>
                    </div>
                </th>
                <th class="th-sm">Edit Post</th>
                <!-- <th class="th-sm">Delete Post</th> -->
            </tr>
            </thead>
            <tbody>

            <tr v-for="(post, index) in sortedPosts" :key="index">
            <!-- <tr v-for="(post, index) in posts" :key="index"></tr> THIS IS FOR A NOTHING FANCY TABLE-->
                <td class=notmobile>{% raw %} {{ post['date'] }} {% endraw %}</td>    
                <td class=notmobile>{% raw %} {{ post['name'] }} {% endraw %}</td>
                <td class=notmobile>{% raw %} {{ post['partnersID'] }} {% endraw %}</td>
                <td>{% raw %} {{ post['email'] }} {% endraw %}</td>
                <td>{% raw %} {{ post['address'] }} {% endraw %}</td>
                <td>{% raw %} {{ post['post'] }} {% endraw %}</td>
                
                <!-- requestType -->
                <td class=notmobile>
                    {% raw %} {{ post['requestType'] == 'inHouseHelp' ? 'House Help':'' }} {% endraw %}
                    {% raw %} {{ post['requestType'] == 'transportation' ? 'Transportation':'' }} {% endraw %}
                    {% raw %} {{ post['requestType'] == 'petCare' ? 'Pet Care':'' }} {% endraw %}
                    {% raw %} {{ post['requestType'] == 'shopping' ? 'Shopping':'' }} {% endraw %}
                </td>
                <!-- requestType -->
                
                <!-- requestType -->
                <td class=notmobile>
                    {% raw %} {{ post['helpType'] == 'canHelp' ? 'Can Help':'' }} {% endraw %}
                    {% raw %} {{ post['helpType'] == 'needHelp' ? 'Need Help':'' }} {% endraw %}
                </td>
                <!-- requestType -->
                <td>
                    <button type="button" 
                            class="btn btn-primary dropdown-item" 
                            data-toggle="modal" 
                            data-target="#editPostModal"
                            @click="editPost(post)">
                            Update
                    </button>
                </td>
                <!-- <td>
                    <button type="button" 
                            class="btn btn-danger dropdown-item" 
                            data-toggle="modal" 
                            data-target="#deleteModal"
                            @click="onDeleteRequest(post)">
                            Delete
                    </button>
                </td> -->

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="th-sm notmobile">Date</th>
                <th class="th-sm notmobile">Name</th>
                <th class="th-sm notmobile">PartnersID</th>
                <th class="th-sm">Email</th>
                <th class="th-sm">Address</th>
                <th class="th-sm">Post</th>
                <th class="th-sm notmobile">Request Type</th>
                <th class="th-sm notmobile">Help Type</th>
                <th class="th-sm">Edit Post</th>
                <!-- <th class="th-sm">Delete Post</th> -->
            </tr>
            </tfoot>
        </table>
        <p>
            <button @click="prevPage">Previous</button> 
            <button @click="nextPage">Next</button>
            <span>{% raw %} {{ currentPage }} {% endraw %}/{% raw %} {{ Math.ceil(posts.length/pageSize) }} {% endraw %} pages</span>
        </p>



        <!-- Add Request Modal -->
        <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addPostModalLabel">New Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    
                        
                        <form @submit="onSubmit">
                            <div class="form-group">
                                <label for="addPostName">Name</label>
                                <input v-model="addPostForm.name" type="text" class="form-control" id="addPostName" placeholder="Name">
                            </div>
                            <!-- Email will come from SAML not the user -->
                            <!-- <div class="form-group">
                                <label for="addPostEmail1">Email address</label>
                                <input v-model="addPostForm.email" type="email" class="form-control" id="addPostEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div> -->
                            <div class="form-group">
                                <label for="addPostAddress">Address</label>
                                <input v-model="addPostForm.address" type="address" class="form-control" id="addPostAddress" placeholder="address">
                                <small id="emailHelp" class="form-text text-muted">Remember to increase safety, don't use the street number in your address.</small>
                            </div>
                            <div class="form-group">
                                <label for="addPostPost">Post</label>
                                <input v-model="addPostForm.post" type="text" class="form-control" id="addPostPost" placeholder="Out of supplies in my area">
                                </div>
                            
                            <div class="form-group">
                                <label for="">What kind of post is this?</label>
                                <div class="form-check">
                                    <input v-model="addPostForm.helpType" class="form-check-input" type="radio" name="addPostPostType" id="addPostNeedHelp" value='needHelp' checked>
                                    <label class="form-check-label" for="addPostNeedHelp">
                                    Requesting Assistance
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="addPostForm.helpType" class="form-check-input" type="radio" name="addPostPostType" id="addPostCanHelp" value='canHelp'>
                                    <label class="form-check-label" for="addPostCanHelp">
                                    Can Give Assistance
                                    </label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">What service do you need or can assist with or can assist with?</label>
                                <div class="form-check">
                                    <input v-model="addPostForm.requestType" class="form-check-input" type="radio" name="addPostService" id="addPostTransportation" value="transportation" checked>
                                    <label class="form-check-label" for="addPostTransportation">
                                    Transportation
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="addPostForm.requestType" class="form-check-input" type="radio" name="addPostService" id="addPostShopping" value="shopping">
                                    <label class="form-check-label" for="addPostShopping">
                                    Shopping
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="addPostForm.requestType" class="form-check-input" type="radio" name="addPostService" id="addPostInHouseHelp" value="inHouseHelp">
                                    <label class="form-check-label" for="addPostInHouseHelp">
                                    In House Help
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="addPostForm.requestType" class="form-check-input" type="radio" name="addPostService" id="addPostPetCare" value="petCare">
                                    <label class="form-check-label" for="addPostPetCare">
                                    Pet Sitting\Care
                                    </label>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <label for="">Post Status?</label>
                                <div class="form-check">
                                    <input v-model="addPostForm.status" class="form-check-input" type="radio" name="addPostResolved" id="addPostResolved" value='resolved' checked>
                                    <label class="form-check-label" for="addPostResolved">
                                    Resolved
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="addPostForm.status" class="form-check-input" type="radio" name="addPostUnresolved" id="addPostUnresolved" value='un-resolved'>
                                    <label class="form-check-label" for="addPostUnresolved">
                                    Unresolved
                                    </label>
                                </div>
                            </div> -->

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <hr>
                            <div class="alert alert-success" role="alert">
                                <strong>Please hit refresh to see your pin show up</strong>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Update Modal -->
        <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPostModalLabel">Update Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    
                        <form @submit="onSubmitUpdate">
                            <!-- <div class="form-group">
                                <label for="editPostName">Name</label>
                                <input v-model="editPostForm.name" type="text" class="form-control" id="editPostName" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="editPostEmail1">Email address</label>
                                <input v-model="editPostForm.email" type="email" class="form-control" id="editPostEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="editPostAddress">Zip Code</label>
                                <input v-model="editPostForm.address" type="address" class="form-control" id="editPostAddress" placeholder="address">
                            </div>
                            <div class="form-group">
                                <label for="editPostPost">Post</label>
                                <input v-model="editPostForm.post" type="text" class="form-control" id="editPostPost" placeholder="Post">
                                </div>
                            
                            <div class="form-group">
                                <label for="">What kind of post is this?</label>
                                <div class="form-check">
                                    <input v-model="editPostForm.helpType" class="form-check-input" type="radio" name="editPostPostType" id="editPostNeedHelp" value='needHelp' checked>
                                    <label class="form-check-label" for="editPostNeedHelp">
                                    Requesting Assistance
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.helpType" class="form-check-input" type="radio" name="editPostPostType" id="editPostCanHelp" value='canHelp'>
                                    <label class="form-check-label" for="editPostCanHelp">
                                    Can Give Assistance
                                    </label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="">What service do you need or can assist with?</label>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="editPostService" id="editPostTransportation" value="transportation" checked>
                                    <label class="form-check-label" for="editPostTransportation">
                                    Transportation
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="editPostService" id="editPostShopping" value="shopping">
                                    <label class="form-check-label" for="editPostShopping">
                                    Shopping
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="editPostService" id="editPostInHouseHelp" value="inHouseHelp">
                                    <label class="form-check-label" for="editPostInHouseHelp">
                                    In House Help
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.requestType" class="form-check-input" type="radio" name="addPostService" id="editPostPetCare" value="petCare">
                                    <label class="form-check-label" for="editPostPetCare">
                                    Pet Sitting\Care
                                    </label>
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label for="">Post Status?</label>
                                <div class="form-check">
                                    <input v-model="editPostForm.status" class="form-check-input" type="radio" name="editPostResolved" id="editPostResolved" value='resolved' checked>
                                    <label class="form-check-label" for="editPostResolved">
                                    Resolved
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input v-model="editPostForm.status" class="form-check-input" type="radio" name="editPostNotNeeded" id="editPostNotNeeded" value='not-needed'>
                                    <label class="form-check-label" for="editPostNotNeeded">
                                    Not Needed Anymore
                                    </label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class=row></div>

</div>



