{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class=col-sm-1></div>
        <div class=col-sm-10>
          <div class="hero-unit">
            <h1>Support</h1>
            <hr>
            <h2>Getting Started:</h2>
            <p class="greeting"><strong>If you need help or would like to volunteer</strong>, please review existing posts. If you find a post that matches a service you need or one that you would like to offer, please email the poster directly.</p>  
            <p class="greeting">If you do NOT see a post that matches your request or offer, click Post a New Request for one of the following types of services:</p>
            <ul>
              <li class="greeting">Transportation</li>
              <li class="greeting">Shopping</li>
              <li class="greeting">In-House Help</li>
              <li class="greeting">Pet Sitting/Care</li>
            </ul>
            <p class=greeting>Please note that this site should not be used to request coverage of a hospital shift or to arrange for child care. If you need child care support, please click <a href="https://partnershealthcarehr.service-now.com/hrportal?id=ph_kb_article&sys_id=c113fa84db2bc0d02c243ebd7c961953&kb_category=2f1ef3a8dbd00340da8538ff9d96191d#child" target="_blank">here</a>.</p>
      
            <h2>This Site Can Also Help You</h2>
            <ul>
                <li class="greeting">Search the “Post” field for key words or phrases to help you find exactly what you are looking for</li>
                <li class="greeting">Sort search ressults</li>
                <li class="greeting">Update an existing post, to either "Resolved" or "I don't ned help anymore"</li>
            </ul>
            <h2>Tips:</h2>
            <ul>
                <li class="greeting">If you mark a post "Resolved" or "I don’t need help anymore" you will not be able to retrieve it.</li>
                <li class="greeting">Use the map to look for people nearby who can help/need help.
                    <ul>
                        <li class="greeting">Click on an icon to see more detail.</li>
                        <li class="greeting">Hit refresh to see your request appear on the map</li>
                        <li class="greeting">If you choose to help vs receive help, your icon shows up as a red heart.</li>
                    </ul>
                </li>
                <li class="greeting">If posts and or icons aren't showing up, try hitting 'ctrl+shift+r' or doing a hard <a href="https://packback.zendesk.com/hc/en-us/articles/360003031611-How-can-I-hard-refresh-my-browser-" target= "_blank">refresh</a>.</li>
            </ul>

            <!-- <h2>Question? Please email ___________.</h2> -->
            
            <hr>
          </div>
        </div>
        <div class=col-sm-1></div>
          </div>
</div>


{% endblock %}
